<%- include("partials/header") %>
<div class="container">
<header class="jumbotron">
    <div class="container">
    <h1> This is the campgrounds page!</h1>
    <p> View our han-picked campgrounds....</p>
    <p class="btn btn-dark btn-lg"><a href="/campgrounds/new">Add a New Camp!</a></p>
    </div>   
</header>
<!-- some comment -->
<div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <% campgrounds.forEach(function(campgrounds){ %>
        <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                      
                  <img src=" <%= campgrounds.image %> "class="img-fluid" alt="Responsive image" >
                  <div class="caption">
                    <h4><%=campgrounds.name%></h4>
                  </div>
                  <p>
                    <a href="/campgrounds/<%= campgrounds._id %>" class="btn btn-dark btn-md"> More Info</a>
                  </p>
                </div>
            </div>
    <% }); %>
</div>
<%- include("partials/footer") %>